/* FONT IOSEVKA */
@font-face {
    font-family: 'iosevka';
    src: url('../fonts/Iosevka.ttf') format('truetype');
}
body{
    font-family: iosevka;
    background-color:#0e0e0e ;
}
.navbar{
    background-color: #101010;
}
.small, small{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.small, small:hover{
    color: aliceblue;
}
.small, small:focus{
    color: aliceblue;
}
.nav-link{
    color: aliceblue;
    /*background-color: #d49b00;*/
}
.nav-link:hover{
    color: #fff;
}
.nav-link:focus{
    color: #fff;
}
.card{
    opacity: 1;
    /*background-color: #101010;*/
    background-color:rgb(24 24 27);
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 #101010;
}
.card-img-top{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
p{
    color: aliceblue;
}
.btn{
    background-color: #4f46e5d9;
    color: white;
}
.btn:hover{
    background-color: #4f46e5d9;
    color: white;
}
.btn:focus{
    background-color: #4f46e5d9;
    color: white;
}
.card-footer{
    border-top: 2px solid #4f46e5d9;
}
.text-muted {
    --mdb-text-opacity: 1;
    color: aliceblue !important;
}
.timmer-download{
    color: aliceblue;
    font-weight: bold;
    margin-bottom: 20px;
}
.form-outline .form-control{
    background-color: #f1f1f1;
    color: #000;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #4f46e5d9;
    box-shadow: 0 1px 1px #4f46e5d9;
    outline: 0 none;
}
#outPopUp {
    position: absolute;
    width: 400px;
    height: 200px;
    z-index: 15;
    top: 35%;
    left: 50%;
    margin: -100px 0 0 -200px;
}
.table{
    color: aliceblue;
}
.fa-bars{
    color: white;
}
.description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.description-view-more{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.div-description{
    color: white;
}
.div-description img{
    max-width: 100%;
    height: auto;
}
.richText-btn{
    color: #101010;
}
.richText-btn:focus{
    color: #101010;
}
.richText-btn:hover{
    color: #101010;
}
.fa{
    color: #101010;
}
footer{
    background-color: #101010;
}
.card-category{
    width: 130px;
    height: 30px;
    margin-bottom: 90px;
}
.card-category-main{
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}
.card-hover:hover{
    background-color: rgba(0, 0, 0, 0.40);
}

.btn-wsp{
    position: fixed;
    width:80px;
    height:80px;
    bottom:25px;
    right:25px;
    text-align:center;
    z-index:100;
    line-height: 80px;

}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:80px;
        height:80px;
        line-height: 80px;
    }
}
.btn-name-category{
    color: white;
    padding-left:10px ;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 12px;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 3px;
}
.btn-count-bashboard{
    margin-left: 20px;
    margin-right: 20px;
    background: #ef0f7c;
}
.btn-count-bashboard:hover{
    background: #ef0f7c;
}
.btn-count-bashboard:focus{
    background: #ef0f7c;
}
.btn-name-category{
    background:#4f46e5d9 ;
    margin-bottom: 10px;
}
.btn-name-category:hover{
    background:#4f46e5d9 ;

}
.btn-name-category:focus{
    background:#4f46e5d9 ;

}
.card-category-dashboaard{
   background: #282828;
    height:150px;
    margin: 10px;
}
.video-script{
    background: black;
}